# Project Myriad - React Native Application

# OSX
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Xcode
ios/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
*.iml
.gradle
local.properties
/.idea/
.idea/
android/app/build/
android/app/release/
android/app/debug/
android/.gradle/
android/build/
# android/gradle.properties  # Allow gradle.properties to be committed for firewall configuration
android/keystore.properties
android/captures/
.externalNativeBuild
.cxx/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# React Native
.expo/
.metro-health-check*
*.jsbundle
*.bundle
*.bundle.map

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Testing
coverage/
__tests__/__snapshots__/
junit.xml

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Misc
.tmp/
.cache/
.history/
.turbo
dist/
.watchmanconfig
